In [2]:
import pandas as pd

In [31]:
df = pd.read_csv('unclean_data.csv')
df.head(10)

,id,Locality,Type of property,Subtype of property,Price,Type of sale,Number of rooms,Living Area,Fully equipped kitchen,Furnished,...,Terrace,Terrace area,Garden,Garden area,Surface of the land,Surface area of the plot of land,Number of facades,Swimming pool,State of the building,Compound Listing
0,20320744,1150,APARTMENT,APARTMENT,575000,residential_sale,3,160.0,1.0,0.0,...,1.0,40.0,1.0,290.0,290.0,NaN,NaN,0.0,GOOD,single
1,20317718,9000,APARTMENT,APARTMENT,390000,residential_sale,3,96.0,1.0,0.0,...,1.0,29.0,NaN,NaN,NaN,NaN,2.0,0.0,AS_NEW,compound
2,20315842,9051,APARTMENT,APARTMENT,260000,residential_sale,1,76.0,1.0,0.0,...,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
3,20315799,9051,APARTMENT,APARTMENT,325000,residential_sale,1,81.0,1.0,0.0,...,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
4,20315776,9051,APARTMENT,APARTMENT,365000,residential_sale,3,101.0,1.0,0.0,...,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
5,20315874,9051,APARTMENT,APARTMENT,400000,residential_sale,3,111.0,1.0,0.0,...,1.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
6,20318337,1070,APARTMENT,PENTHOUSE,351500,residential_sale,1,83.0,1.0,0.0,...,1.0,26.0,1.0,26.0,26.0,NaN,2.0,0.0,AS_NEW,compound
7,20318338,1070,APARTMENT,PENTHOUSE,426500,residential_sale,3,113.0,1.0,0.0,...,1.0,28.0,1.0,24.0,24.0,NaN,2.0,0.0,AS_NEW,compound
8,20317581,9940,APARTMENT,GROUND_FLOOR,360000,residential_sale,2,103.0,1.0,0.0,...,1.0,36.0,NaN,NaN,NaN,NaN,2.0,0.0,AS_NEW,compound
9,20317589,9940,APARTMENT,PENTHOUSE,445000,residential_sale,2,122.0,1.0,0.0,...,1.0,48.0,NaN,NaN,NaN,NaN,2.0,0.0,AS_NEW,compound

### remove duplicate

In [32]:
# check duplicates
df.duplicated().sum()
df

,id,Locality,Type of property,Subtype of property,Price,Type of sale,Number of rooms,Living Area,Fully equipped kitchen,Furnished,...,Terrace,Terrace area,Garden,Garden area,Surface of the land,Surface area of the plot of land,Number of facades,Swimming pool,State of the building,Compound Listing
0,20320744,1150,APARTMENT,APARTMENT,575000,residential_sale,3,160.0,1.0,0.0,...,1.0,40.0,1.0,290.0,290.0,NaN,NaN,0.0,GOOD,single
1,20317718,9000,APARTMENT,APARTMENT,390000,residential_sale,3,96.0,1.0,0.0,...,1.0,29.0,NaN,NaN,NaN,NaN,2.0,0.0,AS_NEW,compound
2,20315842,9051,APARTMENT,APARTMENT,260000,residential_sale,1,76.0,1.0,0.0,...,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
3,20315799,9051,APARTMENT,APARTMENT,325000,residential_sale,1,81.0,1.0,0.0,...,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
4,20315776,9051,APARTMENT,APARTMENT,365000,residential_sale,3,101.0,1.0,0.0,...,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15511,10578089,8301,APARTMENT,APARTMENT,1495000,residential_sale,3,324.0,1.0,0.0,...,1.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,single
15512,20189566,8300,APARTMENT,APARTMENT,1195000,residential_sale,3,84.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,JUST_RENOVATED,single
15513,20226843,2235,HOUSE,HOUSE,675000,residential_sale,3,223.0,1.0,NaN,...,1.0,NaN,NaN,NaN,NaN,495.0,3.0,NaN,AS_NEW,single
15514,20199264,1150,HOUSE,HOUSE,1045000,residential_sale,6,300.0,1.0,0.0,...,1.0,20.0,1.0,300.0,300.0,545.0,3.0,0.0,AS_NEW,single
15515,20312784,9040,APARTMENT,APARTMENT,435500,residential_sale,2,97.0,NaN,NaN,...,1.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,single

In [26]:
df.drop_duplicates(inplace=True)

### no blank space

In [28]:
df.columns = df.columns.str.strip()
df.head()

,id,Locality,Type of property,Subtype of property,Price,Type of sale,Number of rooms,Living Area,Fully equipped kitchen,Furnished,...,Terrace,Terrace area,Garden,Garden area,Surface of the land,Surface area of the plot of land,Number of facades,Swimming pool,State of the building,Compound Listing
0,20320744,1150,APARTMENT,APARTMENT,575000,residential_sale,3,160.0,1.0,0.0,...,1.0,40.0,1.0,290.0,290.0,NaN,NaN,0.0,GOOD,single
1,20317718,9000,APARTMENT,APARTMENT,390000,residential_sale,3,96.0,1.0,0.0,...,1.0,29.0,NaN,NaN,NaN,NaN,2.0,0.0,AS_NEW,compound
2,20315842,9051,APARTMENT,APARTMENT,260000,residential_sale,1,76.0,1.0,0.0,...,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
3,20315799,9051,APARTMENT,APARTMENT,325000,residential_sale,1,81.0,1.0,0.0,...,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
4,20315776,9051,APARTMENT,APARTMENT,365000,residential_sale,3,101.0,1.0,0.0,...,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound

In [29]:
#Drop empty columns
df.drop(columns=['Furnished','Fireplace'], inplace=True)

In [30]:
# display non empty columns
print(df.head())

         id  Locality Type of property Subtype of property   Price  \
0  20320744      1150        APARTMENT           APARTMENT  575000
1  20317718      9000        APARTMENT           APARTMENT  390000
2  20315842      9051        APARTMENT           APARTMENT  260000
3  20315799      9051        APARTMENT           APARTMENT  325000
4  20315776      9051        APARTMENT           APARTMENT  365000

       Type of sale  Number of rooms  Living Area  Fully equipped kitchen  \
0  residential_sale                3        160.0                     1.0
1  residential_sale                3         96.0                     1.0
2  residential_sale                1         76.0                     1.0
3  residential_sale                1         81.0                     1.0
4  residential_sale                3        101.0                     1.0

   Terrace  Terrace area  Garden  Garden area  Surface of the land  \
0      1.0          40.0     1.0        290.0                290.0
1      1.0          29.0     NaN          NaN                  NaN
2      1.0          12.0     NaN          NaN                  NaN
3      1.0          13.0     NaN          NaN                  NaN
4      1.0          13.0     NaN          NaN                  NaN

   Surface area of the plot of land  Number of facades  Swimming pool  \
0                               NaN                NaN            0.0
1                               NaN                2.0            0.0
2                               NaN                NaN            NaN
3                               NaN                NaN            NaN
4                               NaN                NaN            NaN

  State of the building Compound Listing
0                  GOOD           single
1                AS_NEW         compound
2                  GOOD         compound
3                  GOOD         compound
4                  GOOD         compound

In [ ]:
#remove duplicate rows
#df.drop_duplicates(inplace=True)
#df.head()

In [ ]:
#  # Remove spaces from column names
# df.columns = df.columns.str.strip()
# df.head()

In [ ]:
# Drop the localities' duplicates
#df.drop_duplicates(subset=['Locality'], inplace=True)