In [18]:
import pandas as pd

### Load the csv file

In [19]:
df = pd.read_csv('unclean_data.csv')
df.head(10)

,id,Locality,Type of property,Subtype of property,Price,Type of sale,Number of rooms,Living Area,Fully equipped kitchen,Furnished,...,Terrace,Terrace area,Garden,Garden area,Surface of the land,Surface area of the plot of land,Number of facades,Swimming pool,State of the building,Compound Listing
0,20320744,1150,APARTMENT,APARTMENT,575000,residential_sale,3,160.0,1.0,0.0,...,1.0,40.0,1.0,290.0,290.0,NaN,NaN,0.0,GOOD,single
1,20317718,9000,APARTMENT,APARTMENT,390000,residential_sale,3,96.0,1.0,0.0,...,1.0,29.0,NaN,NaN,NaN,NaN,2.0,0.0,AS_NEW,compound
2,20315842,9051,APARTMENT,APARTMENT,260000,residential_sale,1,76.0,1.0,0.0,...,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
3,20315799,9051,APARTMENT,APARTMENT,325000,residential_sale,1,81.0,1.0,0.0,...,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
4,20315776,9051,APARTMENT,APARTMENT,365000,residential_sale,3,101.0,1.0,0.0,...,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
5,20315874,9051,APARTMENT,APARTMENT,400000,residential_sale,3,111.0,1.0,0.0,...,1.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
6,20318337,1070,APARTMENT,PENTHOUSE,351500,residential_sale,1,83.0,1.0,0.0,...,1.0,26.0,1.0,26.0,26.0,NaN,2.0,0.0,AS_NEW,compound
7,20318338,1070,APARTMENT,PENTHOUSE,426500,residential_sale,3,113.0,1.0,0.0,...,1.0,28.0,1.0,24.0,24.0,NaN,2.0,0.0,AS_NEW,compound
8,20317581,9940,APARTMENT,GROUND_FLOOR,360000,residential_sale,2,103.0,1.0,0.0,...,1.0,36.0,NaN,NaN,NaN,NaN,2.0,0.0,AS_NEW,compound
9,20317589,9940,APARTMENT,PENTHOUSE,445000,residential_sale,2,122.0,1.0,0.0,...,1.0,48.0,NaN,NaN,NaN,NaN,2.0,0.0,AS_NEW,compound

# Data cleaning

### remove duplicate

In [20]:
# check duplicates
df.duplicated().sum()
df

,id,Locality,Type of property,Subtype of property,Price,Type of sale,Number of rooms,Living Area,Fully equipped kitchen,Furnished,...,Terrace,Terrace area,Garden,Garden area,Surface of the land,Surface area of the plot of land,Number of facades,Swimming pool,State of the building,Compound Listing
0,20320744,1150,APARTMENT,APARTMENT,575000,residential_sale,3,160.0,1.0,0.0,...,1.0,40.0,1.0,290.0,290.0,NaN,NaN,0.0,GOOD,single
1,20317718,9000,APARTMENT,APARTMENT,390000,residential_sale,3,96.0,1.0,0.0,...,1.0,29.0,NaN,NaN,NaN,NaN,2.0,0.0,AS_NEW,compound
2,20315842,9051,APARTMENT,APARTMENT,260000,residential_sale,1,76.0,1.0,0.0,...,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
3,20315799,9051,APARTMENT,APARTMENT,325000,residential_sale,1,81.0,1.0,0.0,...,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
4,20315776,9051,APARTMENT,APARTMENT,365000,residential_sale,3,101.0,1.0,0.0,...,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15511,10578089,8301,APARTMENT,APARTMENT,1495000,residential_sale,3,324.0,1.0,0.0,...,1.0,40.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,single
15512,20189566,8300,APARTMENT,APARTMENT,1195000,residential_sale,3,84.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,JUST_RENOVATED,single
15513,20226843,2235,HOUSE,HOUSE,675000,residential_sale,3,223.0,1.0,NaN,...,1.0,NaN,NaN,NaN,NaN,495.0,3.0,NaN,AS_NEW,single
15514,20199264,1150,HOUSE,HOUSE,1045000,residential_sale,6,300.0,1.0,0.0,...,1.0,20.0,1.0,300.0,300.0,545.0,3.0,0.0,AS_NEW,single
15515,20312784,9040,APARTMENT,APARTMENT,435500,residential_sale,2,97.0,NaN,NaN,...,1.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,single

In [21]:
#remove  duplicate rows based on the columns
df.drop_duplicates(inplace=True)
print(df)

             id  Locality Type of property Subtype of property    Price  \
0      20320744      1150        APARTMENT           APARTMENT   575000
1      20317718      9000        APARTMENT           APARTMENT   390000
2      20315842      9051        APARTMENT           APARTMENT   260000
3      20315799      9051        APARTMENT           APARTMENT   325000
4      20315776      9051        APARTMENT           APARTMENT   365000
...         ...       ...              ...                 ...      ...
15505  20020923      1000        APARTMENT           APARTMENT   455000
15506  20109298      8300        APARTMENT           APARTMENT   595000
15509  20280461      2100        APARTMENT           APARTMENT   249900
15514  20199264      1150            HOUSE               HOUSE  1045000
15515  20312784      9040        APARTMENT           APARTMENT   435500

           Type of sale  Number of rooms  Living Area  Fully equipped kitchen  \
0      residential_sale                3        160.0                     1.0
1      residential_sale                3         96.0                     1.0
2      residential_sale                1         76.0                     1.0
3      residential_sale                1         81.0                     1.0
4      residential_sale                3        101.0                     1.0
...                 ...              ...          ...                     ...
15505  residential_sale                2         92.0                     1.0
15506  residential_sale                2         62.0                     NaN
15509  residential_sale                3         75.0                     1.0
15514  residential_sale                6        300.0                     1.0
15515  residential_sale                2         97.0                     NaN

       Furnished  ...  Terrace  Terrace area  Garden  Garden area  \
0            0.0  ...      1.0          40.0     1.0        290.0
1            0.0  ...      1.0          29.0     NaN          NaN
2            0.0  ...      1.0          12.0     NaN          NaN
3            0.0  ...      1.0          13.0     NaN          NaN
4            0.0  ...      1.0          13.0     NaN          NaN
...          ...  ...      ...           ...     ...          ...
15505        1.0  ...      1.0           6.0     NaN          NaN
15506        NaN  ...      NaN           NaN     NaN          NaN
15509        0.0  ...      1.0           5.0     NaN          NaN
15514        0.0  ...      1.0          20.0     1.0        300.0
15515        NaN  ...      1.0          25.0     NaN          NaN

       Surface of the land  Surface area of the plot of land  \
0                    290.0                               NaN
1                      NaN                               NaN
2                      NaN                               NaN
3                      NaN                               NaN
4                      NaN                               NaN
...                    ...                               ...
15505                  NaN                               NaN
15506                  NaN                               NaN
15509                  NaN                               NaN
15514                300.0                             545.0
15515                  NaN                               NaN

       Number of facades  Swimming pool  State of the building  \
0                    NaN            0.0                   GOOD
1                    2.0            0.0                 AS_NEW
2                    NaN            NaN                   GOOD
3                    NaN            NaN                   GOOD
4                    NaN            NaN                   GOOD
...                  ...            ...                    ...
15505                2.0            0.0                 AS_NEW
15506                2.0            NaN                 AS_NEW
15509                2.0            0.0                 AS_NEW
15514                3.0            0.0                 AS_NEW
15515                NaN            NaN                   GOOD

      Compound Listing
0               single
1             compound
2             compound
3             compound
4             compound
...                ...
15505           single
15506           single
15509           single
15514           single
15515           single

[13965 rows x 21 columns]

### no blank space

remove any leading or trailing spaces from the column names in the DataFrame df

In [22]:
df.columns = df.columns.str.strip()
df.head()

,id,Locality,Type of property,Subtype of property,Price,Type of sale,Number of rooms,Living Area,Fully equipped kitchen,Furnished,...,Terrace,Terrace area,Garden,Garden area,Surface of the land,Surface area of the plot of land,Number of facades,Swimming pool,State of the building,Compound Listing
0,20320744,1150,APARTMENT,APARTMENT,575000,residential_sale,3,160.0,1.0,0.0,...,1.0,40.0,1.0,290.0,290.0,NaN,NaN,0.0,GOOD,single
1,20317718,9000,APARTMENT,APARTMENT,390000,residential_sale,3,96.0,1.0,0.0,...,1.0,29.0,NaN,NaN,NaN,NaN,2.0,0.0,AS_NEW,compound
2,20315842,9051,APARTMENT,APARTMENT,260000,residential_sale,1,76.0,1.0,0.0,...,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
3,20315799,9051,APARTMENT,APARTMENT,325000,residential_sale,1,81.0,1.0,0.0,...,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
4,20315776,9051,APARTMENT,APARTMENT,365000,residential_sale,3,101.0,1.0,0.0,...,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound

In [23]:
#Drop empty columns
df.drop(columns=['Furnished','Fireplace'], inplace=True)

In [24]:
# display non empty columns
print(df.head())

         id  Locality Type of property Subtype of property   Price  \
0  20320744      1150        APARTMENT           APARTMENT  575000
1  20317718      9000        APARTMENT           APARTMENT  390000
2  20315842      9051        APARTMENT           APARTMENT  260000
3  20315799      9051        APARTMENT           APARTMENT  325000
4  20315776      9051        APARTMENT           APARTMENT  365000

       Type of sale  Number of rooms  Living Area  Fully equipped kitchen  \
0  residential_sale                3        160.0                     1.0
1  residential_sale                3         96.0                     1.0
2  residential_sale                1         76.0                     1.0
3  residential_sale                1         81.0                     1.0
4  residential_sale                3        101.0                     1.0

   Terrace  Terrace area  Garden  Garden area  Surface of the land  \
0      1.0          40.0     1.0        290.0                290.0
1      1.0          29.0     NaN          NaN                  NaN
2      1.0          12.0     NaN          NaN                  NaN
3      1.0          13.0     NaN          NaN                  NaN
4      1.0          13.0     NaN          NaN                  NaN

   Surface area of the plot of land  Number of facades  Swimming pool  \
0                               NaN                NaN            0.0
1                               NaN                2.0            0.0
2                               NaN                NaN            NaN
3                               NaN                NaN            NaN
4                               NaN                NaN            NaN

  State of the building Compound Listing
0                  GOOD           single
1                AS_NEW         compound
2                  GOOD         compound
3                  GOOD         compound
4                  GOOD         compound

#### check missing value percentage

In [25]:
missing_percentage = df.isnull().mean() * 100
print(f"percentage of missing value per column: {missing_percentage}")

percentage of missing value per column: id                                   0.000000
Locality                             0.000000
Type of property                     0.000000
Subtype of property                  0.000000
Price                                0.000000
Type of sale                         0.000000
Number of rooms                      0.000000
Living Area                          1.510920
Fully equipped kitchen              29.473684
Terrace                             22.649481
Terrace area                        40.916577
Garden                              80.379520
Garden area                         80.379520
Surface of the land                 80.379520
Surface area of the plot of land    68.485499
Number of facades                   34.729681
Swimming pool                       62.993197
State of the building               22.914429
Compound Listing                     0.000000
dtype: float64

## no errors

In [ ]:
# check missing values in each columns
missing_value=df.isnull().sum()
print("missing values in each columns \n", missing_value)

missing values in each columns
 id                                      0
Locality                                0
Type of property                        0
Subtype of property                     0
Price                                   0
Type of sale                            0
Number of rooms                         0
Living Area                           211
Fully equipped kitchen               4116
Terrace                              3163
Terrace area                         5714
Garden                              11225
Garden area                         11225
Surface of the land                 11225
Surface area of the plot of land     9564
Number of facades                    4850
Swimming pool                        8797
State of the building                3200
Compound Listing                        0
dtype: int64

## fill missing values for numerical columns with mean(average)

In [27]:
# check data types of each columns 
df.dtypes

# fill missing values for all numerical values in our df
all_numerical_columns=df.select_dtypes(include=["float64","int64"]).columns
df[all_numerical_columns] = df[all_numerical_columns].fillna(df[all_numerical_columns].mean())

# check missing values
missing_value=df.isnull().sum()
print("missing values in each columns \n", missing_value)

missing values in each columns
 id                                     0
Locality                               0
Type of property                       0
Subtype of property                    0
Price                                  0
Type of sale                           0
Number of rooms                        0
Living Area                            0
Fully equipped kitchen                 0
Terrace                                0
Terrace area                           0
Garden                                 0
Garden area                            0
Surface of the land                    0
Surface area of the plot of land       0
Number of facades                      0
Swimming pool                          0
State of the building               3200
Compound Listing                       0
dtype: int64

In [28]:

# check data types of each columns 
df.dtypes

# fill missing values for all  categorical columns with mode or the most repetitive data
all_object_type_columns=df.select_dtypes(include=["object"]).columns
df[all_object_type_columns] = df[all_object_type_columns].fillna(df[all_object_type_columns].mode().iloc[0])

# check missing values
missing_value=df.isnull().sum()
print("missing values in each columns \n", missing_value)

missing values in each columns
 id                                  0
Locality                            0
Type of property                    0
Subtype of property                 0
Price                               0
Type of sale                        0
Number of rooms                     0
Living Area                         0
Fully equipped kitchen              0
Terrace                             0
Terrace area                        0
Garden                              0
Garden area                         0
Surface of the land                 0
Surface area of the plot of land    0
Number of facades                   0
Swimming pool                       0
State of the building               0
Compound Listing                    0
dtype: int64

### save the cleaned data

In [29]:
print(df)
# save into csv file
cleaned_data= df.to_csv("../data_analysis/cleaned_data.csv",index=False)

             id  Locality Type of property Subtype of property    Price  \
0      20320744      1150        APARTMENT           APARTMENT   575000
1      20317718      9000        APARTMENT           APARTMENT   390000
2      20315842      9051        APARTMENT           APARTMENT   260000
3      20315799      9051        APARTMENT           APARTMENT   325000
4      20315776      9051        APARTMENT           APARTMENT   365000
...         ...       ...              ...                 ...      ...
15505  20020923      1000        APARTMENT           APARTMENT   455000
15506  20109298      8300        APARTMENT           APARTMENT   595000
15509  20280461      2100        APARTMENT           APARTMENT   249900
15514  20199264      1150            HOUSE               HOUSE  1045000
15515  20312784      9040        APARTMENT           APARTMENT   435500

           Type of sale  Number of rooms  Living Area  Fully equipped kitchen  \
0      residential_sale                3        160.0                     1.0
1      residential_sale                3         96.0                     1.0
2      residential_sale                1         76.0                     1.0
3      residential_sale                1         81.0                     1.0
4      residential_sale                3        101.0                     1.0
...                 ...              ...          ...                     ...
15505  residential_sale                2         92.0                     1.0
15506  residential_sale                2         62.0                     1.0
15509  residential_sale                3         75.0                     1.0
15514  residential_sale                6        300.0                     1.0
15515  residential_sale                2         97.0                     1.0

       Terrace  Terrace area  Garden  Garden area  Surface of the land  \
0          1.0     40.000000     1.0   290.000000           290.000000
1          1.0     29.000000     1.0   512.576642           512.576642
2          1.0     12.000000     1.0   512.576642           512.576642
3          1.0     13.000000     1.0   512.576642           512.576642
4          1.0     13.000000     1.0   512.576642           512.576642
...        ...           ...     ...          ...                  ...
15505      1.0      6.000000     1.0   512.576642           512.576642
15506      1.0     21.728154     1.0   512.576642           512.576642
15509      1.0      5.000000     1.0   512.576642           512.576642
15514      1.0     20.000000     1.0   300.000000           300.000000
15515      1.0     25.000000     1.0   512.576642           512.576642

       Surface area of the plot of land  Number of facades  Swimming pool  \
0                           1088.610543           2.705321       0.000000
1                           1088.610543           2.000000       0.000000
2                           1088.610543           2.705321       0.049149
3                           1088.610543           2.705321       0.049149
4                           1088.610543           2.705321       0.049149
...                                 ...                ...            ...
15505                       1088.610543           2.000000       0.000000
15506                       1088.610543           2.000000       0.049149
15509                       1088.610543           2.000000       0.000000
15514                        545.000000           3.000000       0.000000
15515                       1088.610543           2.705321       0.049149

      State of the building Compound Listing
0                      GOOD           single
1                    AS_NEW         compound
2                      GOOD         compound
3                      GOOD         compound
4                      GOOD         compound
...                     ...              ...
15505                AS_NEW           single
15506                AS_NEW           single
15509                AS_NEW           single
15514                AS_NEW           single
15515                  GOOD           single

[13965 rows x 19 columns]